* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.end-display{
    position: absolute;
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center; 
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    width: 100%;
}

.chat-container {
    width: 700px;
    height: 600px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 1.5em;
}

.chat-body {
    padding: 20px;
    max-height: 400px;
    overflow-y: auto;
}

.chat-message {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.received {
    text-align: left;
}

.sent {
    text-align: right;
}

.options {
    text-align: center;
    padding: 10px;
}

.options p {
    margin-bottom: 10px;
    font-weight: bold;
}

.chat-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 10%;
}

input[type="text"] {
    width: 80%;
    margin-bottom: 10px; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 80%;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 2px;
}

.voice button{
    margin-left: 78px;
    width:543px;
    margin-top: -8px;
}
button:hover {
    background-color: #217dbb;
}
.Display {
    text-align: center; 
    font-size: 15px; 
    font-weight: bold; 
    font-style: italic; 
}